.number-display {
    border: 1px solid;
    padding: 20px;
    width: 280px;
    text-align: right;
    font-size: 30px;
}

ul.digits {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 280px;
    padding: 20px;
}

.digits li {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid;
    text-align: center;
    margin: 9px;
    font-size: 20px;
    line-height: 72px;
    cursor: pointer;
}

ul.operators {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 280px;
    padding: 20px;			
}

.operators li {
    display: inline-block;
    width: 47px;
    height: 47px;
    border: 1px solid;
    text-align: center;
    margin: 9px;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
}	

.clear {
    width: 215px;
    border: 1px solid;
    padding: 24px;
    margin: 0 27px;
    text-align: center;
    cursor: pointer;
}		