.calculator {
   width: 400px;
   margin: auto;
   padding: 50px;
   background: rgb(78, 78, 78);
}

.number-display {
    border: 1px solid;
    padding: 20px;
    width: 280px;
    text-align: right;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background: rgb(207, 207, 207);
}

ul.digits {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 280px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: antiquewhite;
}

.digits li {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid;
    text-align: center;
    margin: 9px;
    font-size: 20px;
    line-height: 72px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

ul.operators {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 280px;
    padding: 20px;		
    margin-left: auto;
    margin-right: auto;	
    color: aqua;
}

.operators li {
    display: inline-block;
    width: 47px;
    height: 47px;
    border: 1px solid;
    text-align: center;
    margin: 9px;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}	

.equals {
    width: 215px;
    border: 1px solid;
    padding: 24px;
    margin: 0 27px;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: aquamarine;
}		